.album-cover,
.album-cover img {
    position: relative;
}

@media (min-width:768px) {
    .now-playing {
        flex-direction: row;
    }

    .album-cover,
    .song-info {
        width: 50%;
    }
}

@media (max-width:768px) {
    .now-playing {
        flex-direction: column;
    }

    .album-cover,
    .song-info {
        width: 100%;
    }
}

body {
    overflow: hidden;
}

#bg {
    position: absolute;
    margin: -1000px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: conic-gradient(in hsl longer hue, red, yellow, lime, aqua, blue, magenta, red);
    animation: spinbg 60s linear infinite;
    transform: scale(2);
    overflow: clip;
    backdrop-filter: blur(50px);
}

.album-cover img {
    z-index: 1;
    width: 100%;
}

.album-cover::before {
    content: close-quote;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(1.03);
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: 0;
}

@keyframes spinbg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}